# Index Objects
<h3 style="font-family:Courier;font-size:10px;">Converted to Python3</h3>

In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd
from numpy.random import randn

In [2]:
my_ser = Series([1,2,3,4],index=['A','B','C','D'])
my_ser

A    1
B    2
C    3
D    4
dtype: int64

In [3]:
my_index = my_ser.index
my_index

Index(['A', 'B', 'C', 'D'], dtype='object')

In [4]:
my_index[2]

'C'

In [5]:
my_index[2:]

Index(['C', 'D'], dtype='object')

In [6]:
my_index[0]

'A'

In [7]:
#What if we want to change an index value??

# Index values are immutable...

# Reindexing[17]

In [8]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [9]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [10]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [11]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [12]:
ranger = range(15)
ranger

range(0, 15)

In [13]:
#Look into the ffill reindex method, fills in across index withe equal distribution
ser3.reindex(ranger,method='ffill')

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [14]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','C','E','F'],
                   columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A  1.585213 -1.835973  1.507349 -1.022612 -0.591190
B -0.886635 -0.223641  0.697788 -0.767416 -0.958580
C -0.096465 -0.312398 -0.044194 -0.730227  0.686521
E -0.182614  0.431685  2.401710  0.334752  0.251064
F -0.103186 -1.967781 -0.448434  1.457728  0.479872

In [15]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  1.585213 -1.835973  1.507349 -1.022612 -0.591190
B -0.886635 -0.223641  0.697788 -0.767416 -0.958580
C -0.096465 -0.312398 -0.044194 -0.730227  0.686521
D       NaN       NaN       NaN       NaN       NaN
E -0.182614  0.431685  2.401710  0.334752  0.251064
F -0.103186 -1.967781 -0.448434  1.457728  0.479872

In [16]:
new_columns = ['col1','col2','col3','col4','col5','col6']
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.585213 -1.835973  1.507349 -1.022612 -0.591190   NaN
B -0.886635 -0.223641  0.697788 -0.767416 -0.958580   NaN
C -0.096465 -0.312398 -0.044194 -0.730227  0.686521   NaN
D       NaN       NaN       NaN       NaN       NaN   NaN
E -0.182614  0.431685  2.401710  0.334752  0.251064   NaN
F -0.103186 -1.967781 -0.448434  1.457728  0.479872   NaN

In [17]:
dframe

       col1      col2      col3      col4      col5
A  1.585213 -1.835973  1.507349 -1.022612 -0.591190
B -0.886635 -0.223641  0.697788 -0.767416 -0.958580
C -0.096465 -0.312398 -0.044194 -0.730227  0.686521
E -0.182614  0.431685  2.401710  0.334752  0.251064
F -0.103186 -1.967781 -0.448434  1.457728  0.479872

In [18]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  1.585213 -1.835973  1.507349 -1.022612 -0.591190   NaN
B -0.886635 -0.223641  0.697788 -0.767416 -0.958580   NaN
C -0.096465 -0.312398 -0.044194 -0.730227  0.686521   NaN
D       NaN       NaN       NaN       NaN       NaN   NaN
E -0.182614  0.431685  2.401710  0.334752  0.251064   NaN
F -0.103186 -1.967781 -0.448434  1.457728  0.479872   NaN

# Drop Entry[18]

In [19]:
ser1 = Series(np.arange(3),index=['a','b','c'])
ser1

a    0
b    1
c    2
dtype: int32

In [20]:
ser1.drop('b')

a    0
c    2
dtype: int32

In [21]:
ser1

a    0
b    1
c    2
dtype: int32

In [22]:
dframe1 = DataFrame(np.arange(9).reshape((3,3)),index=['SF','LA','NY'],columns=['pop','size','year'])
dframe1

    pop  size  year
SF    0     1     2
LA    3     4     5
NY    6     7     8

In [23]:
dframe1.drop('LA')

    pop  size  year
SF    0     1     2
NY    6     7     8

In [24]:
dframe2 = dframe1.drop('LA')
dframe2

    pop  size  year
SF    0     1     2
NY    6     7     8

In [25]:
dframe1.drop('year',axis=1)

    pop  size
SF    0     1
LA    3     4
NY    6     7