<h3 style="font-family:Courier;font-size:10px;">Converted to Python3</h3>

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
#Each value in a series will be indexed
obj = Series([3,6,9,12])
obj

0     3
1     6
2     9
3    12
dtype: int64

In [3]:
#Notice that Pandas methods do not require the closing brackets ()
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [4]:
obj.index

RangeIndex(start=0, stop=4, step=1)

# Create a Series w/ known values and labels

In [5]:
ww2_cas = Series([8700000,4300000,3000000,2300000,4000000],['USSR','Germany','China','Japan','USA'])
ww2_cas

USSR       8700000
Germany    4300000
China      3000000
Japan      2300000
USA        4000000
dtype: int64

In [6]:
#We can use index values to select series values
ww2_cas['USA']

4000000

In [7]:
#Check which countries had casualties > 4 million
#Array operations
ww2_cas[ww2_cas > 4000000]

USSR       8700000
Germany    4300000
dtype: int64

In [8]:
'USSR' in ww2_cas

True

In [9]:
#We can convert a series into a dictionary
ww2_dict = ww2_cas.to_dict()
ww2_dict

{'China': 3000000,
 'Germany': 4300000,
 'Japan': 2300000,
 'USA': 4000000,
 'USSR': 8700000}

In [10]:
#Convert back to series
#Takes dictionary in as argument
ww2_series = Series(ww2_dict)
ww2_series

China      3000000
Germany    4300000
Japan      2300000
USA        4000000
USSR       8700000
dtype: int64

In [11]:
countries = ['China','Germany','Japan','USA','USSR','Argentina']

In [12]:
obj2 = Series(ww2_dict,index=countries)
obj2

China        3000000.0
Germany      4300000.0
Japan        2300000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [13]:
#Isnull checks every value to determine whether or not there is a null value
pd.isnull(obj2)

China        False
Germany      False
Japan        False
USA          False
USSR         False
Argentina     True
dtype: bool

In [14]:
#Notnull checks if value is in fact not null
pd.notnull(obj2)

China         True
Germany       True
Japan         True
USA           True
USSR          True
Argentina    False
dtype: bool

In [15]:
obj2

China        3000000.0
Germany      4300000.0
Japan        2300000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
dtype: float64

In [16]:
#Pandas will automatically perform value operations by associated index
ww2_series + obj2

Argentina           NaN
China         6000000.0
Germany       8600000.0
Japan         4600000.0
USA           8000000.0
USSR         17400000.0
dtype: float64

In [17]:
#Give the series a name/title
obj2.name = "World War 2 Casualties"
obj2

China        3000000.0
Germany      4300000.0
Japan        2300000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

In [18]:
#Give the index a name
obj2.index.name = 'Countries'
obj2

Countries
China        3000000.0
Germany      4300000.0
Japan        2300000.0
USA          4000000.0
USSR         8700000.0
Argentina          NaN
Name: World War 2 Casualties, dtype: float64

# DataFrames

In [19]:
#Pandas allows us to copy data from our copy/clipboard.  May need to reformat data for the copy method to work however.
import webbrowser
website='http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [20]:
#read_clipboard does not appear to be working with Windows
#nfl_frame = pd.read_clipboard()
#nfl_frame

In [21]:
#nfl_frame.columns

In [22]:
#Grab a column, return a Series, spell and format names exactly as they are
#nfl_frame['First NFL Season']

In [23]:
#Create a new DataFrame
#DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Stadium'])

In [24]:
#Retrieve rows from a data frame
#nfl_frame

In [25]:
#First few rows
#nfl_frame.head(6)

In [26]:
#First last rows
#nfl_frame.tail(5)

In [27]:
#Retrieve on a particular index, ix method
#nfl_frame.ix[3]

In [28]:
#Assign values to entire columns
#one value will input to the entire column
#nfl_frame['Stadium'] = "Levi's Stadium"
#nfl_frame

In [29]:
#nfl_frame['Stadium'] = np.arange(5)
#nfl_frame

In [30]:
#Add a series to a data frame
#Assign stadiums per index
#stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])
#stadiums

In [31]:
#nfl_frame['Stadium'] = stadiums
#nfl_frame

In [32]:
#Construct a data frame from a dictionary
#data = {'City':['SF','LA','NYC'],'Population':[837000,3880000,8400000]}

In [33]:
#city_frame = DataFrame(data)
#city_frame

In [34]:
#Various methods for creating data frames
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True